<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Messaoudi LAMIA</h2>
            <h4>Lamyyamess@gmail.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </a>


</mat-nav-list>
