<div class="container">
  <div class="logo"></div>
  <div class="register-item">
    <form #myform class="form form-register">



    <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Reporting  </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>Select the table </h4>
    <mat-form-field>
      <mat-label>Table</mat-label>
      <mat-select>
        <mat-option *ngFor="let table of tables " [value]="table" (click)="changeTable(table)" >
          {{table}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <h4>Select the Fields </h4>
    <mat-form-field>
      <mat-label>Fields</mat-label>
      <mat-select multiple name="selectedFields" [(ngModel)]="selectedFields" >
        <mat-option *ngFor="let field of fields" [value]="field" (click)="clickField()" >
          {{field}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button (click)="addCondition()">Ajouter une condition&nbsp;&nbsp;&nbsp;&nbsp;</button>
<br>
    <br>
  <mat-action-row class="form-row" *ngFor="let obj of dataarray  ;let  i=index">

    <mat-form-field  class="form-group col-md-3">
      <mat-label>Parameters</mat-label>
      <mat-select  name="parameter{{i}}" [(ngModel)]="obj.parameter"    >
        <mat-option *ngFor="let field of fields" [value]="field" (click)="clickParameter(i)"  >
          {{field}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field  class="form-group col-md-2">
      <mat-label>Operator</mat-label>
      <mat-select  name="operateur{{i}}" [(ngModel)]="obj.operateur"    >
        <mat-option *ngFor="let operateur of operateurs[i]" [value]="operateur"  (click)="clickOperator(i)">
          {{operateur}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field class="form-group col-md-3" *ngIf="!testdate[i]">
      <mat-label>Valeur</mat-label>
      <input matInput  name="valeur1{{i}}"  [(ngModel)]="obj.valeur1">
    </mat-form-field>

    <mat-form-field class="form-group col-md-3" *ngIf="testbetween[i] && !testdate[i]">
      <mat-label>Valeur</mat-label>
      <input matInput  name="valeur2{{i}}"  [(ngModel)]="obj.valeur2" >
    </mat-form-field>


    <mat-form-field class="form-group col-md-3" *ngIf="testdate[i]">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker1" name="valeur1{{i}}"  [(ngModel)]="obj.valeur1" (ngModelChange)="changeDate(i,1)" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-group col-md-3" *ngIf="testbetween[i] && testdate[i]">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker2"  name="valeur2{{i}}"  [(ngModel)]="obj.valeur2" (ngModelChange)="changeDate(i,2)">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 ></mat-datepicker>
    </mat-form-field>


    <div>
      <span class="btn btn-danger form-group col-md-1" (click)="removeConcdition(i)">-</span>
    </div>



  </mat-action-row>


  </mat-card-content>


      <mat-card-actions  align="end">

    <button (click)="register()" mat-raised-button color="primary" class="text-right">Génerer le rapport </button>

  </mat-card-actions>

</mat-card>

    </form>
  </div>
</div>
